
S3method(print, questionnaire)
S3method(plot, profile)
export(launch,
       questionnaire,
       get.answers,
       make.questions,
       make.scale,
       profile,
       feed)
import(rJava)
import(lattice)
import(plyr)
import(XML)
